[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
pymongo = {version = "==3.12.1", extras = ["srv"]}
mongoengine = "*"
djongo = "==1.3.6"
heroku = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.8"
